<h1><%=@current.name%></h1>
<img class="header-image" src="<%=@current.thumbnail%>">

<h2>Works</h2>

<a href="/show?link=https://api.artsy.net/api/artists/4d8b92b34eb68a1b2c0003f4">Click Next</a>

<h2>Similar Artists</h2>

</br>
<h2>About <%=@current.name%></h2>
<p><%=@current.blurb%></p>
</br>