<h1><span id="seconds"></span></h1>

<div id="game-area">
	<iframe frameBorder="0" id="game-pages" src="/"></iframe>
</div>

<footer>
<a href="#" data-toggle="modal" data-target="#aboutModal">How to play</a> | Powered by <a href="http://artsy.net" target="_blank">Artsy</a>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How to play</h4>
      </div>
      <div class="modal-body">
        Similar to <a href="http://en.wikipedia.org/wiki/Wikipedia:Wiki_Game">The Wikipedia Game</a>, players (one or more) start by selecting two artists or specific artworks. The goal is to traverse through the first artist/artwork page to arrive at the second artist/artwork in the least amount of time. </br></br>

        It is an explorative and learning game aiming to playfully recognize relationships between art entities. Enjoy!  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>

</footer>