<h1>The Artist Game<br><small>A game of traversing through similar artists to find a final artist!</small></h1>

<div class="jumbotron">

  <form method="POST" action="/results">
    <div class="form-horizontal">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <label>START: 
      <input type="text" name="artwork_keyterm" autofocus="true" placeholder="eg: 'Matisse'" required></label></br>
    <label>GOAL: 
      <input type="text" name="artwork_keyterm_goal" placeholder="eg: 'Starry Night'" required></label></br>
    <input type="submit" name="submit" value="Search" class="btn btn-default">
    </div>
  </form>

</div>

<footer>
<a href="#" data-toggle="modal" data-target="#aboutModal">How to play</a> | Powered by <a href="http://artsy.net" target="_blank">Artsy</a>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How to play</h4>
      </div>
      <div class="modal-body">
        Similar to <a href="http://en.wikipedia.org/wiki/Wikipedia:Wiki_Game">The Wikipedia Game</a>, players (one or more) start by selecting two artists or specific artworks. The goal is to traverse through the first artist/artwork page to arrive at the second artist/artwork in the least amount of time. </br></br>

        It is an explorative and learning game aiming to playfully recognize relationships between art entities. Enjoy!  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>

</footer>