h1,h6 {
	text-align: center;
}

form {
	text-align: center;
}

li {
	list-style-type: none;
}

.search_results {
	text-align: center;
}

.result_start{
	float: left;
}

.result_goal{
	float: right;
}

footer{
	text-align: center;
}

.radio_item{
display: none !important;
}

.label_item {
opacity: 1;
}

.radio_item:checked + label {
opacity: .4;
}