h1,h2,h6 {
	text-align: center;
}

p{
	padding: 10%;
}

form {
	text-align: center;
}

li {
	list-style-type: none;
}

.search_results {
	text-align: center;
}

.result_start{
	float: left;
}

.result_goal{
	float: right;
}

footer{
	text-align: center;
}

.radio_item{
	display: none !important;
}

.label_item {
	opacity: 1;
}

.radio_item:checked + label {
	opacity: .4;
}

iframe {
	width: 100%;
	min-height: 100%;
}

.header-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}