h1,h2,h6 {
	text-align: center;
}

p{
	padding-left: 10%;
	padding-right: 10%;
}

form {
	text-align: center;
}

li {
	list-style-type: none;
}

.search_results {
	text-align: center;
}

.result_start{
	float: left;
}

.result_goal{
	float: right;
}

footer{
	text-align: center;
}

.radio_item{
	display: none !important;
}

.label_item {
	opacity: 1;
}

.radio_item:checked + label {
	opacity: .4;
}

iframe {
	width: 100%;
	min-height: 100%;
}

.header-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.artist-work{
	display: inline-block;
	padding: 5px;
}

.artist-work-img{
	width: 200px;
}

.artist-works{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.center-text{
	text-align: center;
}

.artwork-blurb{
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.artwork-blurb-item{
	display: inline-block;
	padding-right: 10px;
	padding-top: 10px;
	padding-right: 10px;
}

.nav-buttons{
	display:block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}